* {
    font-family: 'Dosis', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    background-image: url(img/unknown.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #29325177;
}

.container {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 70vh;
    background-color: rgba(252, 252, 252, 0.452);
    display: block;
    margin: 50px auto;
    border-radius: 10px;
    padding-bottom: 50px;
}

.app-title {
    height: 5%;
    border-radius: 10px 10px 0 0;
}

.app-title p {
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    font-size: 1.6em;
    color: #293251;
}

.notification {
    background-color: #f8d7da;
    display: none;
}

.notification p {
    color: #721c24;
    font-size: 1.2em;
    margin: 0;
    text-align: center;
    padding: 10px 0;
}

.weather-container {
    height: 50%;
    background-color: #878ca05b;
    border-radius: 10px;
    padding-bottom: 2rem;
}

.weather-icon {
    height: 20vh;
}

.weather-icon img {
    height: 20vh;
    display: block;
    margin: 0 auto;
}

.temperature-value {
    height: 90px;
}

.temperature-value p {
    padding: 0;
    margin: 0;
    color: #293251;
    font-size: 3.5em;
    text-align: center;
    cursor: pointer;
}


.temperature-value span {
    color: #293251;
    font-size: 0.5em;
}


.temperature-description p {
    padding: 8px;
    margin: 0;
    color: #293251;
    text-align: center;
    font-size: 1.9em;
}

.location p {
    margin: 0;
    padding: 0;
    color: #293251;
    text-align: center;
    font-size: 1.6em;
}

.title {
    margin-top: 1rem;
    padding: 0.5rem;
    text-align: center;
}

.other-locations {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-items: center;
    padding-bottom: 1rem;
    max-width: 50%;
    margin: auto;
}

#inputLocation {
    padding: 0.5rem;

}

.button {
    padding-left: 1rem;
}

#SearchButton {
    justify-self: end;

}